<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hacklyfe</title>
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="components/codemirror/lib/codemirror.css">
  <link rel="stylesheet" href="components/codemirror/theme/liquibyte.css">
  <base href="/">
</head>

<body id="profile-zone" ng-app="hacklyfe.register" ng-controller="RegisterCtrl">
  <nav class="main-nav">
    <div class="inner-nav">
      <div class="logo">hack:lyfe_</div>
      <div class="fl-right">From <a href="playlyfe.com">Playlyfe</a></div>
    </div>
  </nav>

  <div class="page-wrapper">
    <form class="page-content login-form" data-ng-submit="register(username, password)">
      <label for="username" class="field-label">Your Name</label>
      <div class="field-wrapper"><input type="text" name="username" id="username" data-ng-model="username"></div>
      <label for="password" class="field-label">Password</label>
      <div class="field-wrapper"><input type="password" name="password" id="password" data-ng-model="password"></div>
      <button class="button" type="submit">Enter</button>
    </form>
  </div>
  <script src="lib/common.js"></script>
  <script src="lib/register.js"></script>
</body>

</html>

